# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

##############################
# Maven
##############################
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

##############################
# Gradle
##############################
.gradle
/build/
/out/
/!gradle/wrapper/gradle-wrapper.jar

##############################
# IntelliJ IDEA
##############################
.idea/
*.iws
*.iml
*.ipr

##############################
# Eclipse / STS
##############################
.project
.classpath
.settings/
bin/

##############################
# VS Code
##############################
.vscode/

##############################
# OS Files
##############################
.DS_Store
Thumbs.db

##############################
# Spring Boot
##############################
/logs/
/tmp/

.factorypath